<!DOCTYPE html>
<html ng-app="CartApp">

<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Loktra Cart Task</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.14.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="products-wrapper" ng-controller="ItemListController">
    
    <ul class="cart-item--list">
      <li class="cart-item" ng-repeat="item in cart">
        <button class="cart-item--remove product-button" ng-click="removeProduct(item.id)">Remove</button>
        <h1 class="cart-item--name product-text--large">{{item.name}}</h1>
        <p class="cart-item--quantity product-text--small">{{item.quantity}} Nos</p>
      </li>
    </ul>
  
    <ul class="products-list">
      <li class="products-list_item"  ng-repeat="product in products">
        <h1 class="product-name product-text product-text--large">{{product.name}}</h1>
        <h3 class="product-price product-text product-text--medium">{{product.price}}</h3>
        <p class="product-description product-text product-text--small">{{product.description}}</p>
        <button class="product-add_to_cart product-button" ng-click="addProduct($index)">Add to Cart</button>
      </li>
    </ul>
  
  </div>

  <script data-require="angular.js@*" data-semver="1.2.14" src="http://code.angularjs.org/1.2.14/angular.js"></script>
  <script src="script.js"></script>
</body>

</html>
